/*Based on Create-Vite's Starter Template for CSS Reset https://github.com/vitejs/vite/blob/main/packages/create-vite/template-vanilla/style.css*/
:root {
  color: #332147;
  background-color: #ffffff;

  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  accent-color: #ff64a5;
}

button {
  border-radius: 4pt;
  border: 1px solid transparent;
  padding: 0.5em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fad7f3;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff64a5;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}